.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

/* This is just for CodePen. */

.form {
	max-width: 600px;
	font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
	font-weight: normal;
	line-height: 1.625;
	margin: 8px auto;
	padding: 16px;
}

h2 {
	font-size: 18px;
	margin-bottom: 8px;
}
/* ========================================== */
.bingkai {
	width: auto;
	height: 150px;
}

.pasfoto {
	max-width: 100px;
	height: 130px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.namapasfoto {
	width: auto;
	height: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 11px;
	color: aliceblue;
	text-align: center;
}
.namafotodiskusi {
	width: auto;
	height: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 11px;
	color: black;
	text-align: center;
}
.pasfoto img {
	width: 100px;
	height: 130px;
}

.headsoal {
	font-family: "Times New Roman", Times, serif;
	text-align: left;
	font-size: 17px;
}

.isidiskusi {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.isisoal {
	font-family: "Times New Roman", Times, serif;
	font-size: 17px;
}
.radiobtn {
	width: min-content;
}

.table td {
	vertical-align: middle;
}

.table .isitbl {
	text-align: center;
	vertical-align: middle;
}

.fontsoal {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}

blockquote p {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}
